// Colors
$primary-color: #FFFFFF;
$secondary-color: #DC56C5;
$third-color: #939393;
$fourth-color: #0E0E0E;
$modal-bgc: #FFF2FD;
$modal-btns: #4C00FE;
$modal-backdrop: #210d1e99;
$search-bar-bgc: #93939333;

// Fonts
$font-family: "Montserrat", sans-serif;