.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 320px) {
            max-width: 296px;
    }
    @media screen and (min-width: 768px) {
            max-width: 600px;
    }
    @media screen and (min-width: 1200px) {
            max-width: 946px;
    }
}